<div *ngFor="let typegener of books3" class="table">
  <br>
  <u> Жанр: {{typegener.gener}}</u>
  <table class="table table-hover ">

    <thead>
      <tr>
        <th scope="col">Фамилия</th>
        <th scope="col">Название Книги </th>
        <th scope="col">Кол-во страниц</th>
      </tr>
    </thead>
    <tbody *ngFor="let book of typegener.booksList" class="table-success">
      <td class="table-secondary " >
        {{book.lastName}}
      </td>
      <td class="table-secondary">
        {{book.nameBook}}
      </td>
      <td class="table-secondary">
        {{book.amountPages}}
      </td>
    </tbody>
  </table>
</div>
